/* Reset the styles */
/* line 3, main-styles.scss */
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal; }

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
/* line 12, main-styles.scss */
html {
  box-sizing: border-box; }

/* line 16, main-styles.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. */
/* line 21, main-styles.scss */
.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px) {
  /* line 31, main-styles.scss */
  .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px; }

  /* line 37, main-styles.scss */
  .col-sma-1 {
    width: 8.333333%; }

  /* line 38, main-styles.scss */
  .col-sma-2 {
    width: 16.666667%; }

  /* line 39, main-styles.scss */
  .col-sma-3 {
    width: 25%; }

  /* line 40, main-styles.scss */
  .col-sma-4 {
    width: 33.333333%; }

  /* line 41, main-styles.scss */
  .col-sma-5 {
    width: 41.666667%; }

  /* line 42, main-styles.scss */
  .col-sma-6 {
    width: 50%; }

  /* line 43, main-styles.scss */
  .col-sma-7 {
    width: 58.33333%; }

  /* line 44, main-styles.scss */
  .col-sma-8 {
    width: 66.666667%; }

  /* line 45, main-styles.scss */
  .col-sma-9 {
    width: 75%; }

  /* line 46, main-styles.scss */
  .col-sma-10 {
    width: 83.333333%; }

  /* line 47, main-styles.scss */
  .col-sma-11 {
    width: 91.666667%; }

  /* line 48, main-styles.scss */
  .col-sma-12 {
    width: 100%; } }
@media only screen and (min-width: 1200px) {
  /* line 52, main-styles.scss */
  .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: left;
    padding: 5px; }

  /* line 57, main-styles.scss */
  .col-lar-1 {
    width: 8.333333%; }

  /* line 58, main-styles.scss */
  .col-lar-2 {
    width: 16.666667%; }

  /* line 59, main-styles.scss */
  .col-lar-3 {
    width: 25%; }

  /* line 60, main-styles.scss */
  .col-lar-4 {
    width: 33.333333%; }

  /* line 61, main-styles.scss */
  .col-lar-5 {
    width: 41.666667%; }

  /* line 62, main-styles.scss */
  .col-lar-6 {
    width: 50%; }

  /* line 63, main-styles.scss */
  .col-lar-7 {
    width: 58.33333%; }

  /* line 64, main-styles.scss */
  .col-lar-8 {
    width: 66.666667%; }

  /* line 65, main-styles.scss */
  .col-lar-9 {
    width: 75%; }

  /* line 66, main-styles.scss */
  .col-lar-10 {
    width: 83.333333%; }

  /* line 67, main-styles.scss */
  .col-lar-11 {
    width: 91.666667%; }

  /* line 68, main-styles.scss */
  .col-lar-12 {
    width: 100%; } }
/* line 71, main-styles.scss */
#content {
  width: 100%;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* line 79, main-styles.scss */
.content-row {
  width: 100%; }

/* line 83, main-styles.scss */
.justify-content > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*Other General Resuable Classes */
/* line 90, main-styles.scss */
.clear-both {
  clear: both; }

/* line 94, main-styles.scss */
.sr-only {
  display: block;
  opacity: 0;
  width: 0;
  height: 0; }

/* line 101, main-styles.scss */
.bulleted-list {
  list-style-type: disc; }

/* line 105, main-styles.scss */
.width-100-percent {
  width: 100%; }

/* line 109, main-styles.scss */
.center-text {
  text-align: center; }

@media only screen and (min-width: 700px) {
  /* line 115, main-styles.scss */
  .float-right-above-a-breakpoint {
    float: right; } }
/* line 122, main-styles.scss */
body {
  background-color: #f6f6f6; }

/* line 126, main-styles.scss */
p {
  line-height: 22.4px; }

/* line 130, main-styles.scss */
a {
  text-decoration: none; }

/* line 134, main-styles.scss */
img {
  font-size: 0px;
  max-width: 100%;
  /*Don't allow images to go offscreen horizontally */ }

/* line 140, main-styles.scss */
a:link, a:visited {
  color: #000000; }

/* line 144, main-styles.scss */
a:hover {
  color: #ffffff; }

/* line 148, main-styles.scss */
h2 {
  font-size: 18px;
  font-weight: bold; }

/* line 153, main-styles.scss */
h3 {
  font-size: 18px;
  padding: 0 0 15px 0;
  font-weight: bold; }

/* line 159, main-styles.scss */
h4 {
  font-weight: bold;
  font-size: 18px; }

/* line 164, main-styles.scss */
ul {
  list-style-type: none; }

/* line 169, main-styles.scss */
input, textarea {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 10px 10px 10px; }

/*Style the inputs as desired. */
/* line 177, main-styles.scss */
input::placeholder, textarea::placeholder {
  opacity: 1;
  /* For Firefox */ }

/*For IE 10-11 */
/*Edge */
/* line 190, main-styles.scss */
textarea {
  resize: vertical; }

/* line 194, main-styles.scss */
#bodyWrapper {
  position: relative;
  width: 100%;
  border: 0;
  min-width: 300px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff; }

/* Use .inner-wrapper for layouts where you want to have backgrounds go out of the site 'border' provided by #bodyWrapper '*/
/* line 206, main-styles.scss */
.inner-wrapper {
  position: relative;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

/*****
***
***
***
***
*****/
/******************************************************* Beginning of site-specific styles */
/* (111, 78, 55) coffee brown */
/* complimentary green */
/* complimentary dark blue */
/* coffee brown with semi-transparents */
/* light coffee brown with semi-transparents */
/* Note: Used SCSS RGBA to make footer semi-transparent, add a darker shade of the first color to h4s, and a darker shade of the second color 
for placeholder text. */
/* line 248, main-styles.scss */
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* line 253, main-styles.scss */
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center; }

/* line 256, main-styles.scss */
h3 {
  font-size: 20px;
  text-align: center; }

/* line 261, main-styles.scss */
h4 {
  color: #365d2e; }

/* line 264, main-styles.scss */
a, a:link, a:visited {
  color: #365d2e; }

/* line 268, main-styles.scss */
a:hover {
  color: #28344a; }

/* line 273, main-styles.scss */
input, textarea {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 10px 10px 10px; }

/* line 280, main-styles.scss */
input::placeholder, textarea::placeholder {
  color: #61a753;
  opacity: 1;
  /* For Firefox */ }

/*For IE 10-11 */
/* line 286, main-styles.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #61a753; }

/*Edge */
/* line 291, main-styles.scss */
::-ms-input-placeholder {
  color: #61a753; }

/* line 295, main-styles.scss */
input:focus, textarea:focus {
  box-shadow: 0px 0px 3px 3px rgba(54, 93, 46, 0.6);
  transition: 0.2s; }

/* line 300, main-styles.scss */
.subheader-divider {
  border-bottom: 2px solid #28344a;
  margin-bottom: 15px; }

/* line 305, main-styles.scss */
header {
  width: 100%;
  min-height: 226px;
  background: url("../images/coffee-shop-exterior.jpg") 50% 5%/100% auto no-repeat; }

/* line 311, main-styles.scss */
.title-container {
  text-align: center; }
  /* line 314, main-styles.scss */
  .title-container #mainTitle a {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #6f4e37;
    text-shadow: 0.5px 1px #d1b6a3; }

/* line 326, main-styles.scss */
.subtitle-container {
  display: inline-block;
  width: 76%;
  height: auto;
  padding: 10px 12px;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(209, 182, 163, 0.8);
  color: #d1b6a3; }

/* line 343, main-styles.scss */
#logo {
  position: static;
  width: 40px;
  padding-top: 5px;
  margin-left: 15px; }

/* line 344, main-styles.scss */
#mobileNav {
  display: block; }

/* line 345, main-styles.scss */
#desktopNav {
  display: none; }

/* line 347, main-styles.scss */
.current-page {
  text-decoration: underline; }

/* line 348, main-styles.scss */
nav {
  color: #6f4e37; }
  /* line 351, main-styles.scss */
  nav a {
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9; }
    /* line 355, main-styles.scss */
    nav a:link, nav a:visited {
      color: #f9f9f9; }
    /* line 358, main-styles.scss */
    nav a:hover {
      color: #d1b6a3; }

/* line 364, main-styles.scss */
#dropdownButton {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url("../images/hamburger-nav.png") 50% 0%/cover no-repeat;
  cursor: pointer; }

/* line 374, main-styles.scss */
#dropdownContent {
  padding: 0;
  background-color: none;
  transition: 0.8s all ease-in; }
  /* line 378, main-styles.scss */
  #dropdownContent li {
    display: block;
    height: 0;
    padding-bottom: 0px;
    opacity: 0;
    transition: 0.8s all ease-in; }

/* line 387, main-styles.scss */
#dropdownContent.show {
  padding: 15px;
  background-color: #6f4e37;
  background-image: linear-gradient(#6f4e37, #af7f5e, #6f4e37);
  transition: 0.8s all ease-in; }
  /* line 391, main-styles.scss */
  #dropdownContent.show li {
    height: 21px;
    margin-bottom: 20px;
    opacity: 1;
    transition: 0.8s all ease-in; }
    /* line 396, main-styles.scss */
    #dropdownContent.show li:last-of-type {
      margin-bottom: 0; }

/* line 405, main-styles.scss */
#content {
  width: 100%;
  padding: 20px 10px 20px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  /* line 412, main-styles.scss */
  #content h3 {
    color: #6f4e37; }
  /* line 416, main-styles.scss */
  #content a, #content a:link, #content a:visited {
    text-decoration: underline; }
  /* line 419, main-styles.scss */
  #content p {
    margin-bottom: 18px; }

/* line 425, main-styles.scss */
footer {
  font-size: 28px;
  background: url("../images/coffee-shop-exterior.jpg") 50% 100%/cover no-repeat; }
  /* line 428, main-styles.scss */
  footer .footer-background {
    padding: 30px 20px;
    color: #333;
    background-color: rgba(209, 182, 163, 0.85);
    text-align: center; }
  /* line 435, main-styles.scss */
  footer .footer-to-top a, footer .footer-copyright, footer .footer-hours *, footer .location-footer * {
    font-size: 18px; }
  /* line 439, main-styles.scss */
  footer a, footer a:link, footer a:visited {
    color: #000000; }
  /* line 442, main-styles.scss */
  footer a:hover {
    color: #ffffff; }
  /* line 446, main-styles.scss */
  footer .footer-to-top {
    padding-bottom: 0px; }
  /* line 452, main-styles.scss */
  footer .footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px; }
  /* line 456, main-styles.scss */
  footer .social-container {
    padding-top: 20px;
    padding-bottom: 20px; }
    /* line 459, main-styles.scss */
    footer .social-container .social-logo {
      display: inline-block;
      padding: 0 15px; }
      /* line 462, main-styles.scss */
      footer .social-container .social-logo .social-icon {
        transition: 0.4s all; }
      /* line 465, main-styles.scss */
      footer .social-container .social-logo .social-icon:hover {
        transition: 0.4s all; }
  /* line 471, main-styles.scss */
  footer .footer-hours {
    padding-top: 20px;
    padding-bottom: 10px; }
    /* line 474, main-styles.scss */
    footer .footer-hours .day-hours {
      padding-bottom: 10px; }
    /* line 475, main-styles.scss */
    footer .footer-hours .day, footer .footer-hours .hours {
      width: 150px;
      display: inline-block; }
    /* line 479, main-styles.scss */
    footer .footer-hours .hours {
      padding-left: 20px; }
  /* line 483, main-styles.scss */
  footer .location-footer {
    padding-top: 20px; }

/* line 489, main-styles.scss */
input, textarea {
  outline: 0; }

/* line 492, main-styles.scss */
.required-field-needed {
  box-shadow: 0px 0px 3px 3px red; }

/* line 496, main-styles.scss */
.input-container {
  padding: 15px;
  color: #6f4e37; }
  /* line 499, main-styles.scss */
  .input-container label {
    display: inline-block;
    margin-bottom: 8px; }
  /* line 503, main-styles.scss */
  .input-container input {
    width: 100%; }
  /* line 507, main-styles.scss */
  .input-container textarea {
    width: 100%; }

/* line 512, main-styles.scss */
.input-container.contact-button {
  padding-bottom: 0; }

/* line 516, main-styles.scss */
table {
  width: 100%;
  border-collapse: collapse; }
  /* line 519, main-styles.scss */
  table tr {
    border-bottom: 1px solid #6f4e37; }
  /* line 522, main-styles.scss */
  table th, table td {
    padding: 15px 10px; }
  /* line 525, main-styles.scss */
  table th {
    font-size: 20px;
    font-weight: bold; }
  /* line 529, main-styles.scss */
  table img {
    width: 100%;
    height: auto; }

/* line 535, main-styles.scss */
.item-image-td.empty {
  padding: 0; }

/* line 539, main-styles.scss */
.item-image-td.empty .item-image {
  display: none; }

/* line 545, main-styles.scss */
.item-image-container {
  overflow: hidden; }

/* line 549, main-styles.scss */
.item-image {
  height: 220px;
  transition: transform 0.8s ease-in;
  cursor: pointer; }

/* line 555, main-styles.scss */
.item-image:hover {
  transform: scale(1.08);
  transition: transform 0.8s ease-in; }

/* line 561, main-styles.scss */
.index-section {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 566, main-styles.scss */
.index-section:first-of-type {
  padding-top: 0px; }

/* line 569, main-styles.scss */
.index-section:last-of-type {
  padding-bottom: 0px; }

/* line 573, main-styles.scss */
.index-section-content {
  padding-bottom: 10px; }

/* line 577, main-styles.scss */
.food-beverage-list {
  padding-left: 30px; }

/* line 581, main-styles.scss */
.index-page .item-image {
  cursor: pointer;
  transition: transform 0.8s; }

/* line 586, main-styles.scss */
.index-page .item-image:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: transform 0.8s; }

/* line 592, main-styles.scss */
.item-image.index-one {
  background: url("../images/index/roasted-coffee.jpg") 50% 0%/cover no-repeat; }

/* line 596, main-styles.scss */
.item-image.index-two {
  background: url("../images/index/mocha-on-plate.jpg") 50% 0%/cover no-repeat; }

/* line 600, main-styles.scss */
.item-image.index-three {
  background: url("../images/index/coffee-shop-counter.jpg") 50% 0%/cover no-repeat; }

/* line 604, main-styles.scss */
.item-image.one {
  background: url("../images/menu/house-coffee.jpg") 50% 0%/cover no-repeat; }

/* line 607, main-styles.scss */
.item-image.six {
  background: url("../images/menu/mocha.jpg") 50% 0%/cover no-repeat; }

/* line 610, main-styles.scss */
.item-image.seven {
  background: url("../images/menu/green-tea-latte.jpg") 50% 0%/cover no-repeat; }

/* line 613, main-styles.scss */
.item-image.twenty {
  background: url("../images/menu/cake-slice.jpg") 50% 0%/cover no-repeat; }

/* line 620, main-styles.scss */
.visitors-bg-image {
  width: 100%;
  height: 220px;
  margin-bottom: 20px; }

/* line 626, main-styles.scss */
.visitors-bg-image.one {
  background: url("../images/three-women-talking-at-a-table.jpg") 50% 0%/cover no-repeat; }

/* line 630, main-styles.scss */
.visitors-bg-image.two {
  background: url("../images/two-visitors-at-a-table.jpg") 50% 0%/cover no-repeat; }

/* line 634, main-styles.scss */
.visitors-bg-image.three {
  background: url("../images/busy-coffee-order-area.jpg") 50% 0%/cover no-repeat;
  margin-bottom: 0px; }

/*Location page**/
/* line 642, main-styles.scss */
#content h3.coffee-shop-hours-header {
  color: #6f4e37; }
/* line 645, main-styles.scss */
#content h3.location-header {
  color: #365d2e; }
/* line 648, main-styles.scss */
#content .coffee-shop-hours-header, #content .location-header {
  text-align: center; }
/* line 653, main-styles.scss */
#content .hours-table {
  text-align: left; }
  /* line 655, main-styles.scss */
  #content .hours-table th {
    color: #365d2e; }
  /* line 656, main-styles.scss */
  #content .hours-table .hours-col-1 {
    width: 45%; }
  /* line 659, main-styles.scss */
  #content .hours-table .hours-col-2 {
    width: 55%; }

/* line 665, main-styles.scss */
.location-section {
  padding-top: 40px; }

/* Menu page */
/* line 675, main-styles.scss */
.menu-table th, .menu-table td, .events-table th, .events-table td {
  display: block; }
/* line 676, main-styles.scss */
.menu-table th, .events-table th {
  color: #365d2e; }
/* line 679, main-styles.scss */
.menu-table .event-name, .menu-table .date-time, .menu-table .event-info, .events-table .event-name, .events-table .date-time, .events-table .event-info {
  display: none; }
/* line 684, main-styles.scss */
.menu-table .table-subheader td, .events-table .table-subheader td {
  padding: 25px 0px;
  background-color: #d1b6a3;
  background-image: linear-gradient(90deg, #af7f5e, #d1b6a3, #af7f5e);
  text-transform: uppercase;
  text-align: center; }
/* line 693, main-styles.scss */
.menu-table tr td:nth-of-type(1), .events-table tr td:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  color: #6f4e37; }
/* line 699, main-styles.scss */
.menu-table td, .events-table td {
  text-align: center; }

/* line 706, main-styles.scss */
.menu-table .item-name, .menu-table .photos, .menu-table .item-cost, .menu-table .description {
  display: none; }
/* line 709, main-styles.scss */
.menu-table h4 {
  color: #ffffff; }

/*Events page*/
/*Contact Us page*/
/* line 723, main-styles.scss */
.contact-us-container {
  color: #6f4e37; }

/* line 727, main-styles.scss */
.write-us, .contact-westland {
  text-align: center; }

/* line 731, main-styles.scss */
.contact-westland {
  padding-bottom: 10px; }

/* line 735, main-styles.scss */
#contactButton {
  padding: 10px 15px;
  background-color: #d1b6a3;
  border: 2px solid #333333;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.8s; }

/* line 744, main-styles.scss */
#contactButton:hover {
  color: #d1b6a3;
  background-color: #6f4e37;
  transition: 0.8s; }

/*Careers page */
/* line 753, main-styles.scss */
.careers-featured h4 {
  padding-bottom: 15px;
  text-align: center;
  color: #365d2e; }

/* line 760, main-styles.scss */
.positions-open-container {
  padding-top: 25px; }

/* line 764, main-styles.scss */
.barista {
  width: 100%;
  height: 220px; }

/* line 769, main-styles.scss */
.barista.one {
  background: url("../images/one-of-our-baristas.jpg") 50% 0%/cover no-repeat; }

/* CSS Media Queries: small-mid to mid devices, 500-1199px.  Laptop/desktop: 800px+.*/
@media only screen and (min-width: 500px) {
  /* The main border around the entire document */
  /* line 777, main-styles.scss */
  .title-container {
    position: relative;
    top: -55px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center; }
    /* line 785, main-styles.scss */
    .title-container #mainTitle a {
      font-size: 32px; }

  /* line 791, main-styles.scss */
  .subtitle-container {
    position: relative;
    top: -60px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; }

  /* line 799, main-styles.scss */
  .item-image-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

  /* line 805, main-styles.scss */
  .item-image {
    margin-left: auto;
    margin-right: auto; }

  /* line 810, main-styles.scss */
  .item-image {
    height: 300px; }

  /* line 814, main-styles.scss */
  .visitors-bg-image {
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }

  /* line 821, main-styles.scss */
  .barista {
    height: 300px; } }
@media only screen and (min-width: 700px) {
  /* line 830, main-styles.scss */
  header {
    width: 100%;
    min-height: 310px;
    background: url("../images/coffee-shop-exterior.jpg") 50% 0%/100% auto no-repeat; }

  /* line 836, main-styles.scss */
  .title-container {
    position: relative;
    top: -55px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center; }
    /* line 844, main-styles.scss */
    .title-container #mainTitle a {
      font-size: 42px; }

  /* line 851, main-styles.scss */
  .subtitle-container {
    display: block;
    position: relative;
    top: -30px;
    width: auto;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; }

  /* line 862, main-styles.scss */
  h2 {
    font-size: 26px; }

  /* line 866, main-styles.scss */
  .item-image-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  /* line 872, main-styles.scss */
  .item-image {
    width: 100%;
    height: 280px;
    margin-left: 0;
    margin-right: 0; }

  /* line 880, main-styles.scss */
  .visitors-bg-image {
    width: 100%;
    height: 240px;
    margin-left: 0;
    margin-right: 0; }

  /* line 890, main-styles.scss */
  table .item-image-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

  /* line 897, main-styles.scss */
  .index-section-content {
    padding-bottom: 0px; }

  /* line 901, main-styles.scss */
  .barista {
    height: 220px; } }
@media only screen and (min-width: 1000px) {
  /* line 909, main-styles.scss */
  header {
    background: url("../images/coffee-shop-exterior.jpg") 50% 10%/100% auto no-repeat; }

  /* line 913, main-styles.scss */
  .visitors-bg-image {
    height: 300px; } }
@media only screen and (min-width: 1200px) {
  /* line 920, main-styles.scss */
  .inner-wrapper {
    width: 90%; }

  /* line 924, main-styles.scss */
  h3 {
    font-size: 26px;
    text-align: left; }

  /* line 928, main-styles.scss */
  h4 {
    font-size: 22px; }

  /* The main border around the entire document */
  /* *** Beginning of Major divs *** */
  /* line 935, main-styles.scss */
  #bodyWrapper .inner-wrapper {
    width: 1200px; }

  /* line 943, main-styles.scss */
  header {
    padding-bottom: 190px;
    background: url("../images/coffee-shop-exterior.jpg") 50% 3%/100% auto no-repeat; }

  /* line 949, main-styles.scss */
  #bodyWrapper .title-container {
    position: static;
    width: 350px;
    padding-top: 30px;
    margin-left: 170px;
    margin-right: 0;
    text-align: left; }
  /* line 957, main-styles.scss */
  #bodyWrapper #logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 93px;
    padding-left: 0;
    padding-top: 0;
    margin-left: 0; }
  /* line 966, main-styles.scss */
  #bodyWrapper .subtitle-container {
    display: inline-block;
    position: absolute;
    top: 220px;
    left: 170px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px; }

  /* line 982, main-styles.scss */
  nav {
    padding: 0 15px; }

  /* line 984, main-styles.scss */
  #mobileNav {
    display: none; }

  /* line 985, main-styles.scss */
  #desktopNav {
    display: block;
    position: absolute;
    top: -396px;
    right: 0; }

  /* line 988, main-styles.scss */
  .title-container #mainTitle {
    width: 100%;
    max-width: 210px; }
    /* line 991, main-styles.scss */
    .title-container #mainTitle a {
      font-size: 50px; }

  /* line 998, main-styles.scss */
  nav {
    padding: 15px 15px; }
    /* line 1000, main-styles.scss */
    nav li {
      display: inline-block;
      padding-right: 40px; }
      /* line 1002, main-styles.scss */
      nav li a, nav li a:link, nav li a:visited {
        font-size: 22px; }

  /* line 1005, main-styles.scss */
  footer {
    background: url("../images/coffee-shop-exterior.jpg") 50% 100%/100% auto no-repeat; }

  /* line 1010, main-styles.scss */
  #content {
    padding: 50px 20px; }

  /* line 1016, main-styles.scss */
  table th {
    font-size: 22px; }
  /* line 1018, main-styles.scss */
  table img {
    width: auto;
    height: 150px; }
  /* line 1023, main-styles.scss */
  table .item-image-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  /* line 1029, main-styles.scss */
  table .item-image {
    width: 100%;
    height: 150px;
    margin-left: 0;
    margin-right: 0; }

  /* line 1037, main-styles.scss */
  .index-section {
    padding-top: 25px;
    padding-bottom: 25px; }

  /* line 1042, main-styles.scss */
  .item-image {
    height: 300px; }

  /* line 1046, main-styles.scss */
  .visitors-bg-image {
    height: 400px; }

  /* line 1051, main-styles.scss */
  .hours-table th, .hours-table td {
    padding-left: 80px; }
  /* line 1054, main-styles.scss */
  .hours-table th {
    text-transform: uppercase; }

  /* line 1059, main-styles.scss */
  .location-section {
    padding-top: 0; }

  /* line 1066, main-styles.scss */
  .menu-table th, .events-table th {
    text-transform: uppercase; }
  /* line 1069, main-styles.scss */
  .menu-table th, .menu-table td, .events-table th, .events-table td {
    display: table-cell; }
  /* line 1070, main-styles.scss */
  .menu-table th, .events-table th {
    text-align: left; }
  /* line 1071, main-styles.scss */
  .menu-table .event-name, .menu-table .date-time, .menu-table .event-info, .events-table .event-name, .events-table .date-time, .events-table .event-info {
    display: table-cell; }
  /* line 1075, main-styles.scss */
  .menu-table .table-subheader td, .events-table .table-subheader td {
    padding: 25px 0px; }
    /* line 1077, main-styles.scss */
    .menu-table .table-subheader td h4, .events-table .table-subheader td h4 {
      font-size: 20px; }
  /* line 1082, main-styles.scss */
  .menu-table td, .events-table td {
    text-align: left; }

  /* line 1091, main-styles.scss */
  .menu-table .table-subheader td:nth-of-type(1) {
    text-align: center; }
  /* line 1096, main-styles.scss */
  .menu-table .item-name, .menu-table .photos, .menu-table .item-cost, .menu-table .description {
    display: table-cell; }
  /* line 1099, main-styles.scss */
  .menu-table .item-name {
    width: 30%; }
  /* line 1102, main-styles.scss */
  .menu-table .photos {
    width: 20%; }
  /* line 1105, main-styles.scss */
  .menu-table .item-cost {
    width: 20%; }
  /* line 1108, main-styles.scss */
  .menu-table .description {
    width: 30%; }

  /* line 1114, main-styles.scss */
  .events-table .event-name {
    width: 30%; }
  /* line 1115, main-styles.scss */
  .events-table .date-time {
    width: 30%; }
  /* line 1116, main-styles.scss */
  .events-table .event-info {
    width: 40%; }

  /* line 1120, main-styles.scss */
  .contact-westland {
    padding-bottom: 15px; }

  /* line 1124, main-styles.scss */
  .barista {
    height: 300px; } }
@media only screen and (min-width: 1600px) {
  /* line 1133, main-styles.scss */
  .inner-wrapper {
    width: 1540px; }

  /* line 1138, main-styles.scss */
  header {
    background: url("../images/coffee-shop-exterior.jpg") 50% 18%/100% auto no-repeat; } }

/*# sourceMappingURL=main-styles.css.map */
