
/***############### General Styling Reset and Setup: reset, grid, typography, general classes and divs.  Mobile-first styling setup. ***/
/***########## Reset the styles, add box-sizing: border-box. ***/
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, select, tr, td, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/***########## Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. ***/
.content { width: 100%; padding: 20px 10px 20px 10px; }
.content-row { width: 100%; padding: 0; }
.content-row:after { content: ""; display: block; clear: both; }
.content-row.no-content-row-padding { padding: 0; }

.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px){
    .content-row { padding: 10px 0 10px 0; }
    .content-row:first-of-type { padding-top: 0; }
    .content-row:last-of-type { padding-bottom: 0; }
    
    .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sma-1 { width: 8.333333%; }
    .col-sma-2 { width: 16.666667%; }
    .col-sma-3 { width: 25%; }
    .col-sma-4 { width: 33.333333%; }
    .col-sma-5 { width: 41.666667%; }
    .col-sma-6 { width: 50%; }
    .col-sma-7 { width: 58.33333%; }
    .col-sma-8 { width: 66.666667%; }
    .col-sma-9 { width: 75%; }
    .col-sma-10 { width: 83.333333%; }
    .col-sma-11 { width: 91.666667%; }
    .col-sma-12 { width: 100%; }    
}

@media only screen and (min-width: 1200px){
    .content-row { padding: 25px 0 25px 0; }
    .content-row:first-of-type { padding-top: 0; }
    .content-row:last-of-type { padding-bottom: 0; }
       
    .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-lar-1 { width: 8.333333%; }
    .col-lar-2 { width: 16.666667%; }
    .col-lar-3 { width: 25%; }
    .col-lar-4 { width: 33.333333%; }
    .col-lar-5 { width: 41.666667%; }
    .col-lar-6 { width: 50%; }
    .col-lar-7 { width: 58.33333%; }
    .col-lar-8 { width: 66.666667%; }
    .col-lar-9 { width: 75%; }
    .col-lar-10 { width: 83.333333%; }
    .col-lar-11 { width: 91.666667%; }
    .col-lar-12 { width: 100%; }
}

/***########## General Styling and Typography settings. ***/
body { background-color: #f3f3f3; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 18px; }
ul { list-style-type: none; }
p { padding-bottom: 16px; line-height: 22.4px; }
a { text-decoration: none; }
img { max-width: 100%; font-size: 0px; } /*Don't allow images to go offscreen horizontally */
a:link, a:visited { color: #000000; }
a:hover { color: #0000cc; }

.body-wrapper { position: relative; width: 100%; min-width: 300px; padding: 0; border: 0; margin-left: auto; margin-right: auto;
                background-color: #ffffff; }

@media only screen and (min-width: 500px){
}

@media only screen and (min-width: 700px){
    h1 { font-size: 32px; }
    h2 { font-size: 26px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }  
}

@media only screen and (min-width: 1200px){      
    h1 { font-size: 36px; }   
    h2 { font-size: 26px; }  
    h3 { font-size: 24px; }  
    h4 { font-size: 18px; }
}

@media only screen and (min-width: 1600px){
}

/***########## General layout settings and general classes. ***/
.justify-content > div { display: flex; flex-wrap: wrap; justify-content: center; }

/* General Resuable Classes */
.sr-only { display: block; width: 0; height: 0; opacity: 0; }
.width-100-percent { width: 100%; }
.clear-both { clear: both; }

/* Use .inner-wrapper for layouts where you want to have backgrounds go out of the site 'border' provided by .body-wrapper '*/
.inner-wrapper { position: relative; padding: 0; margin-left: auto; margin-right: auto; }

@media only screen and (min-width: 700px){
    .float-right-above-a-breakpoint { float: right; }
}
/***########## End of General Styling Reset and Setup ****/



/***############### Beginning of Website-specific style sheet. ****/
$firstStyleColor: #6f4e37;   /* (111, 78, 55) coffee brown */
$secondStyleColor: #365d2e;  /* (54, 93, 46) complimentary green */
$thirdStyleColor: #28344a;   /* (40, 52, 74)    complimentary dark blue */


$firstStyleColorDarken: scale-color($firstStyleColor, $lightness: -30%);
$firstStyleColorLighter20: scale-color($firstStyleColor, $lightness: 20%);  // rgb (157, 110, 78)
$firstStyleColorLighter30: scale-color($firstStyleColor, $lightness: 30%);
$firstStyleColorLighter40: scale-color($firstStyleColor, $lightness: 40%);
$firstStyleColorLighten: scale-color($firstStyleColor, $lightness: 60%); // Used in several places in the site  
$secondStyleColorLighten: scale-color($secondStyleColor, $lightness: 30%);

$firstStyleColorSemiOpacity: rgba(111, 78, 55, 0.8); /* coffee brown with semi-transparents */
$firstStyleColorLighter20SemiOpacity: rgba(157, 110, 78, 0.85);
$firstStyleColorLighter60SemiOpacity: rgba(209, 182, 163, 0.85); /* light coffee brown with semi-transparents */

$secondStyleColorSemiOpacity: rgba(54, 93, 46, 0.8);

$thirdStyleColorPartialOpacity: rgba(40, 52, 74, 0.6);

/* Note: Used SCSS RGBA to make footer semi-transparent, add a darker shade of the first color to h4s, and a darker shade of the second color 
for placeholder text. */ 

.body-wrapper {

}

html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
}

.bulleted-list { list-style-type: disc; }
.center-text { text-align: center; }

h2 { font-size: 24px; font-weight: bold; color: #ffffff; text-align: center;}
h3 { font-size: 22px; padding: 0 0 15px 0; text-align: center; }
h4 { font-size: 20px; color: $thirdStyleColor; }
h2, h3 { font-weight: bold; }
a, a:link, a:visited { color: $secondStyleColor; }
a:hover { color: $thirdStyleColor; }
input, textarea { border: 1px solid #000000; border-radius: 10px; padding: 10px 10px 10px 10px; }
input::placeholder, textarea::placeholder { color: $secondStyleColorLighten; opacity: 1; /* For Firefox */ }

/*For IE 10-11 */
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: $secondStyleColorLighten; }
/*For Edge */
::-ms-input-placeholder { color: $secondStyleColorLighten; }
input:focus, textarea:focus { box-shadow: 0px 0px 3px 3px rgba(54, 93, 46, 0.6); transition: 0.2s; }

.subheader-divider {
    border-bottom: 2px solid $thirdStyleColor;
    margin-bottom: 15px;
}

header { 
    width: 100%; 
    min-height: 226px;
    background: url('../images/coffee-shop-background.jpg') 0% 0%/cover no-repeat;
}

.title-container { 
    text-align: center;
    #mainTitle {
        a {
            position: relative;
            display: inline-block;
            font-size: 28px; 
            font-family: "Lato", sans-serif;
            font-weight: bold;
            color: $firstStyleColor;  
            text-shadow: 0.5px 1px rgb(209,182,163);
        }
    } 
}

.subtitle-container {
    display: inline-block;
    width: 76%;
    height: auto;
    padding: 10px 12px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: $secondStyleColorSemiOpacity;
}


#logo { position: static; width: 40px; padding-top: 5px; margin-left: 15px; }
#mobileNav { display: block; }
#desktopNav { display: none; }

.current-page { text-decoration: underline; }

nav { 
    color: $firstStyleColor; 
    a {
        font-size: 18px; 
        font-weight: bold; 
    }   
}
#mobileNav a {

    color: #f9f9f9; 
    &:link, &:visited {  
        color: #f9f9f9; 
    }
    &:hover { 
        color: $firstStyleColorLighten;
    }
}
#desktopNav a {
    &:link, &:visited {  
        color: $firstStyleColor; 
    }
    &:hover { 
        color: $firstStyleColorLighter40;
    }
}

#dropdownButton {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url('../images/hamburger-nav.png') 50% 0%/cover no-repeat;    
    cursor: pointer;
}

#dropdownContent {
    padding: 0; 
    background-color: none;
    transition: 0.8s all ease-in;
    li {
        display: block;
        height: 0;
        padding-bottom: 0px;
        opacity: 0;
        transition: 0.8s all ease-in;
    }
}

#dropdownContent.show {
    padding: 15px; 
    background-color: $firstStyleColor;
    background-image: linear-gradient($firstStyleColor, $firstStyleColorLighter30, $firstStyleColor);
    li {
        height: 21px;
        margin-bottom: 20px;
        opacity: 1;
        transition: 0.8s all ease-in;
        &:last-of-type {
            margin-bottom: 0;
        } 
    }
    transition: 0.8s all ease-in;
}

.content {
    h3 {
        color: $firstStyleColor;
    }
    a, a:link, a:visited {
        text-decoration: underline;   
    }
}

footer {
    font-size: 28px;
    background: url('../images/coffee-shop-exterior.jpg') 50% 100%/cover no-repeat;
    .footer-background {
        padding: 30px 20px;
        color: #333333;
        background-color: $firstStyleColorLighter60SemiOpacity;
        text-align: center;
    }
    .footer-to-top a, .footer-copyright, .footer-hours *, .location-footer * {
        font-size: 18px;
    }
    a, a:link, a:visited {
        color: $secondStyleColor;
    }
    a:hover {
        color: #ffffff;
    }
    .footer-to-top {
        padding-bottom: 0px;
        a, a:link, a:visited {
            color: $thirdStyleColor;
        }
    }
    .footer-copyright {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .social-container {
        padding-top: 20px;
        padding-bottom: 20px;
        .social-logo {
            display: inline-block;
            padding: 0 15px;
            .social-icon {
                transition: 0.4s all;
            }
            .social-icon:hover {
                transition: 0.4s all;
            }
        }
    }

    .footer-hours {
        padding-top: 20px;
        padding-bottom: 10px;
        .day-hours { padding-bottom: 10px; }
        .day, .hours {
            width: 150px;
            display: inline-block;
        }
        .hours {
            padding-left: 20px;
        }
    }
    .location-footer {
        padding-top: 20px;
    }
}

input, textarea {
    outline: 0;
}
.required-field-needed {
    box-shadow: 0px 0px 3px 3px rgba(255, 0, 0, 1);
}

.input-container {
    padding: 15px;
    color: $firstStyleColor;
    label { 
        display: inline-block;
        margin-bottom: 8px;
    }
    input {

        width: 100%;
    }
    textarea {
        width: 100%;
    }
}

.input-container.contact-button {
    padding-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse; 
    th, td {
        padding: 10px 0px;   
    }
    th {
        font-size: 20px; 
        font-weight: bold; 
    }
    tr {
        border-bottom: 1px solid $firstStyleColor;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.item-image-td.empty {
    padding: 0;
}

.item-image-td.empty .item-image {
    display: none;
}

.item-image-container {
    overflow: hidden;
}

.item-image { 
    height: 220px;
    transition: transform 0.8s ease-in;
    cursor: pointer;
}

.item-image:hover {
    transform: scale(1.08);
    transition: transform 0.8s ease-in;
}

.index-section {
    margin-bottom: 40px;
}

.index-section:last-of-type {
    margin-bottom: 0;
}

.index-section-content {
    padding-bottom: 10px;
}

.food-beverage-list {
    padding-left: 30px;
}

.page-index .item-image-container {
    border-radius: 5px;
    transition: 0.4s;
}

.page-index .item-image-container:hover {
    box-shadow: 0 0 6px 6px $thirdStyleColorPartialOpacity;
    transition: 0.4s;
}

.page-index .item-image { 
    cursor: pointer;
    transition: transform 0.8s; 
}

.page-index .item-image:hover { 
    cursor: pointer;
    transform: scale(1.12);
    transition: transform 0.8s;  
}

.item-image.index-one {
    background: url('../images/index/roasted-coffee.jpg') 50% 0%/cover no-repeat;
}

.item-image.index-two {
    background: url('../images/index/mocha-on-plate.jpg') 50% 0%/cover no-repeat;
}

.item-image.index-three {
    background: url('../images/index/coffee-shop-counter.jpg') 50% 0%/cover no-repeat;
}

.item-image.one {
    background: url("../images/menu/house-coffee.jpg") 50% 0%/cover no-repeat;
}
.item-image.six {
    background: url("../images/menu/mocha.jpg") 50% 0%/cover no-repeat;
}
.item-image.seven {
    background: url("../images/menu/green-tea-latte.jpg") 50% 0%/cover no-repeat;
}
.item-image.twenty {
    background: url("../images/menu/cake-slice.jpg") 50% 0%/cover no-repeat;
}


.visitors-bg-image {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
}

.visitors-bg-image.one {
    background: url('../images/three-women-talking-at-a-table.jpg') 50% 0%/cover no-repeat;    
}

.visitors-bg-image.two { 
    background: url('../images/two-visitors-at-a-table.jpg') 50% 0%/cover no-repeat;
}

.visitors-bg-image.three {
    background: url('../images/busy-coffee-order-area.jpg') 50% 0%/cover no-repeat;
    margin-bottom: 0px;
}

.form-transmission-results p { font-size: 18px; font-weight: bold; color: #000000; }

/*Location page**/
.content {
    h3.coffee-shop-hours-header {
        color: $firstStyleColor;
    }
    h3.location-header {
        color: $secondStyleColor;
    }
    .coffee-shop-hours-header, .location-header {
        text-align: center;
    }
    .hours-table {
        text-align: left;
        th { color: $secondStyleColor; }
        .hours-col-1 {
            width: 45%;
        }
        .hours-col-2 {
            width: 55%;
        }
    }
}

.location-section {
    padding-top: 40px;
}



/* Menu page */
.table-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-table, .events-table {
    th, td { display: block; }
    th { 
        color: $secondStyleColor;
    }
    .event-name, .date-time, .event-info {
        display: none;
    }
    .table-subheader {
        td { 
            padding: 25px 0px;
            background-color: $firstStyleColorLighten;
            background-image: linear-gradient(90deg, $firstStyleColorLighter30, $firstStyleColorLighten, $firstStyleColorLighter30);
            text-transform: uppercase;
            text-align: center;
        }
    }
    tr {
        td:first-of-type { 
            font-size: 18px;
            font-weight: bold; 
            color: $firstStyleColor;
        }
    } 
    td {
        text-align: center;
    }
    td:first-of-type { 
        padding-top: 30px;
    }
    td:last-of-type{
        padding-bottom: 30px;
    }
}

.menu-table {
    .item-name, .photos, .description   {
        display: none;
    }
    h4 {
        color: #ffffff;
    }
}


/*Events page*/


/*Contact Us page*/
.contact-us-container {
    color: $firstStyleColor;
}

.write-us, .contact-westland {
    text-align: center;
}

.contact-westland {
    padding-bottom: 10px;
}

.javascript-validation-results-contact-us {
    display: none; 
    padding-top: 15px; 
    font-weight: bold; 
}

.javascript-validation-results-contact-us.show {
    display: block; 
}


#contactButton { 
    padding: 10px 15px;
    background-color: $firstStyleColorLighten; 
    border: 2px solid #333333;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.8s;
}

#contactButton:hover {
    color: $firstStyleColorLighten;
    background-color: $firstStyleColor;
    transition: 0.8s;
}


/*Careers page */
.careers-featured {
    h4 {
        padding-bottom: 15px;
        text-align: center;
        color: $thirdStyleColor;
    }
}

.positions-open-container {
    margin-top: 30px;
}

.positions-title-container {
    padding-bottom: 10px;
}

.position-container {
    padding-bottom: 40px;
}

.position-title {
    padding-bottom: 15px; 
    text-align: center;
}

.item-image-container.position-image-container {
    float: left;
    width: 150px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.item-image.position-image {

}

.item-image.position-image-one {
    background: url('../images/mug-with-coffee.jpg') 50% 0%/cover no-repeat;  
}

.item-image.position-image-two {
    background: url('../images/mug-with-coffee.jpg') 50% 0%/cover no-repeat;  
}

.barista {
    width: 100%;
    height: 220px;
}

.barista.one {
    background: url('../images/one-of-our-baristas.jpg') 50% 0%/cover no-repeat;     
}

/* CSS Media Queries: small-mid to mid devices, 500-1199px.  Laptop/desktop: 800px+.*/
@media only screen and (min-width: 500px){
    /* The main border around the entire document */

    .title-container { 
        position: relative;
        top: -55px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        #mainTitle {
            a {
                font-size: 32px;
            }
        }
    }

    .subtitle-container {
        position: relative;
        top: -60px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .item-image-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-image {
        margin-left: auto;
        margin-right: auto;
    }

    .item-image {
        height: 300px;
    }

    .visitors-bg-image {
        width: 80%; 
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .barista {
        height: 300px;
    }
}



@media only screen and (min-width: 700px){
    header { 
        width: 100%; 
        min-height: 310px;
        background: url('../images/coffee-shop-background.jpg') 50% 0%/cover no-repeat;
    }

    h2 {
        font-size: 25px;
    } 

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 21px;
    }

    table {
        th, td { padding: 12px 0px; }
    }

    .title-container {
        position: relative;
        top: -55px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        #mainTitle {
            a { 
                font-size: 42px; 
            }
        }
    }

    .subtitle-container {
        display: block;
        position: relative;
        top: -30px;
        width: auto;
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .item-image-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .item-image {
        width: 100%;
        height: 240px;
        margin-left: 0;
        margin-right: 0;
    }

    .visitors-bg-image {
        width: 100%;
        height: 240px;
        margin-left: 0;
        margin-right: 0;
    }


    table {
        .item-image-container {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .index-section {
        margin-bottom: 0px;
    }
    
    .index-section-content {
        padding-bottom: 0px;
    }

    /*Careers */
    .position-title {
        text-align: left;
        padding-left: 20px;           
    }

    .barista {
        height: 220px;
    }
}


@media only screen and (min-width: 1000px){
    header {  
        background: url('../images/coffee-shop-background.jpg') 50% 10%/cover no-repeat;
    }

    .item-image {
        height: 280px;
    }

    .visitors-bg-image {
        height: 300px;
    }
}


@media only screen and (min-width: 1200px){

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 26px;
        text-align: left;
    }
    h4 {
        font-size: 22px;
    }

    /* The main border around the entire document */
    /* *** Beginning of Major divs *** */
    .body-wrapper {
        .inner-wrapper {
            width: 1200px;
        }
    }

    header { 
        padding-bottom: 190px;
        background: url('../images/coffee-shop-background.jpg') 0% 26%/auto no-repeat;
    }

    .title-container { 
        position: static;
        width: 216px; 
        padding-top: 30px; 
        margin-left: 160px;
        margin-right: 0;
        text-align: left;
        #mainTitle {
            width: 100%;
            max-width: 210px;
            a { 
                font-size: 50px; 
            }
        }
    }
    #logo {
        position: absolute;
        top: 20px; 
        left: 20px; 
        width: 80px;
        padding-left: 0; 
        padding-top: 0; 
        margin-left: 0;
    }
    .subtitle-container {
        display: inline-block;
        position: absolute;
        top: 220px;
        left: 160px;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }


    nav { padding: 0 15px;}

    #mobileNav { display: none; }
    #desktopNav { display: block; position: absolute; top: -396px; right: 0; }

    nav {
        padding: 15px 15px;
        li { 
            display: inline-block; padding-right: 40px;
            a, a:link, a:visited { font-size: 22px; }
        }
    }
    footer {
        background: url('../images/coffee-shop-exterior.jpg') 50% 100%/cover no-repeat;
    }

    .content {
        padding: 50px 20px;
    }

    table {
        th { font-size: 22px; }
        th, td, tr td:first-of-type, tr td:last-of-type { padding: 15px 10px; }
        img {
            width: auto;
            height: 150px;
        }
        .item-image-container {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .item-image {
            width: 100%;
            height: 200px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .item-image {
        height: 300px;
    }

    .visitors-bg-image {
        height: 400px;
    }

    .hours-table {
        th, td {
            padding-left: 80px;
        }
        th {
            text-transform: uppercase;
        }
    }

    .location-section {
        padding-top: 0;
    }

    .table-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-table, .events-table {
        th {
            text-transform: uppercase;
            text-align: left;
        }
        th, td { display: table-cell; }
        th, td, tr td:first-of-type, tr td:last-of-type { padding: 15px 10px; }    
        .event-name, .date-time, .event-info {
            display: table-cell;
        }
        .table-subheader {
            td {
                padding: 25px 0px;      
                h4 {
                    font-size: 20px;                   
                }
            }
        }
        td {
            text-align: left;
        }
    }

    .menu-table {
        .table-subheader {
            td:first-of-type {
                text-align: center;
            }
        }

        .item-name, .photos, .description   {
            display: table-cell;
            padding-left: 20px;
        }
        .item-name {
            width: 32%;
        }
        .photos {
            width: 30%;
        }
        .description {
            width: 38%;
        }
    }

    .events-table {
        .event-name { width: 30%; }
        .date-time { width: 30%; }
        .event-info { width: 40%; }

    }

    .contact-westland {
        padding-bottom: 15px;
    }

    .item-image.position-image-container {

    }

    .item-image-container.position-image-container {
        width: 220px;
        height: 160px;
    }

    .position-image {
        width: 220px;
        height: 160px;
    }

    .barista {
        height: 300px;
    }
    
    .form-transmission-results p { font-size: 20px; }
    
}



@media only screen and (min-width: 1600px){
    .inner-wrapper {
        width: 1540px;
    }

    .title-container {
        width: 242px;
        #mainTitle {
            a { 
                font-size: 56px; 
            }
        }
    }

    .subtitle-container { 
        top: 240px;   
    }

    header { 
        padding-bottom: 169px;
        background: url('../images/coffee-shop-background.jpg') 50% 18%/cover no-repeat;
    }
}