
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/
/*Hide certain page elements if needed.  */
* { }

/* Prevent mid-item splitting onto two pages if possible*/
* { break-inside: avoid; page-break-inside: avoid; /*Older version*/ }
* { box-shadow: none } /*Prevents unexpected box-shadows from printing in textareas on some browsers like Firefox. */



@media only print and (min-width: 500px){
    h2 { 
        font-size: 20px;
    }
    
    h3 {
        font-size: 19px;
    }

    .title-container { 
        position: relative;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        #mainTitle {
            a {
                font-size: 28px;
            }
        }
    }

    .subtitle-container {
        width: 200px;
    }

    .item-image-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-image {
        margin-left: auto;
        margin-right: auto;
    }

    .item-image {
        height: 300px;
    }

    .visitors-bg-image {
        width: 80%; 
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .barista {
        height: 300px;
    }
}
