
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/
/*Hide certain page elements if needed.  */
* { }

/* Prevent mid-item splitting onto two pages if possible*/
* { break-inside: avoid; page-break-inside: avoid; /*Older version*/ }
* { box-shadow: none } /*Prevents unexpected box-shadows from printing in textareas on some browsers like Firefox. */
