@import url(experimental-styles.css);
/* coffee brown */
/* green */
                           /* 

/* Reset the styles */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\000038}}
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal; }

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000317}}
html {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  box-sizing: inherit; }

/* Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000326}}
.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000336}}
  .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
    float: left;
    padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000341}}
  .col-sma-1 {
    width: 8.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000342}}
  .col-sma-2 {
    width: 16.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000343}}
  .col-sma-3 {
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000344}}
  .col-sma-4 {
    width: 33.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000345}}
  .col-sma-5 {
    width: 41.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000346}}
  .col-sma-6 {
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000347}}
  .col-sma-7 {
    width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000348}}
  .col-sma-8 {
    width: 66.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000349}}
  .col-sma-9 {
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000350}}
  .col-sma-10 {
    width: 83.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000351}}
  .col-sma-11 {
    width: 91.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000352}}
  .col-sma-12 {
    width: 100%; } }
@media only screen and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000356}}
  .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: left;
    padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000361}}
  .col-lar-1 {
    width: 8.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000362}}
  .col-lar-2 {
    width: 16.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000363}}
  .col-lar-3 {
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000364}}
  .col-lar-4 {
    width: 33.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000365}}
  .col-lar-5 {
    width: 41.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000366}}
  .col-lar-6 {
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000367}}
  .col-lar-7 {
    width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000368}}
  .col-lar-8 {
    width: 66.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000369}}
  .col-lar-9 {
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000370}}
  .col-lar-10 {
    width: 83.333333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000371}}
  .col-lar-11 {
    width: 91.666667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000372}}
  .col-lar-12 {
    width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000375}}
#content {
  width: 100%;
  padding: 10px 10px 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000383}}
.content-row {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000387}}
.justify-content > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*Other General Resuable Classes */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000394}}
.clear-both {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\0000398}}
.sr-only {
  display: block;
  opacity: 0;
  width: 0;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003105}}
.width-100-percent {
  width: 100%; }

/*** Beginning of style sheet. ***/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003112}}
body {
  background-color: #f6f6f6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003116}}
p, #ufoList {
  line-height: 22.4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003124}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003128}}
img {
  font-size: 0px;
  max-width: 100%;
  /*Don't allow images to go offscreen horizontally */ }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003134}}
a:link, a:visited {
  color: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003138}}
a:hover {
  color: #2d41ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003142}}
h2 {
  font-size: 18px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003147}}
h3 {
  font-size: 18px;
  padding: 5px 0 10px 0;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003153}}
h4 {
  font-weight: bold;
  font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003158}}
ul {
  list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003162}}
input, textarea {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 10px 10px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003169}}
input::placeholder, textarea::placeholder {
  color: #0066cc;
  opacity: 1;
  /* For Firefox */ }

/*For IE 10-11 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003175}}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #0066cc; }

/*Edge */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003180}}
::-ms-input-placeholder {
  color: #0066cc; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003184}}
textarea {
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003188}}
input:focus, textarea:focus {
  box-shadow: 0px 0px 3px 3px rgba(25, 174, 255, 0.6);
  transition: 0.2s; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003193}}
.center-text {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003197}}
#bodyWrapper {
  position: relative;
  width: 100%;
  border: 0;
  min-width: 300px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff; }

/* Beginning of site-specific styles */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003211}}
#mainTitle a {
  font-size: 24px;
  color: #6f4e37; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003212}}
nav {
  background-color: #6f4e37; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003213}}
h2 {
  color: #4f7942; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003214}}
header {
  background-color: #ffe9cc; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003215}}
nav a:link, nav a:visited {
  color: #ffeeee; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003216}}
#mobileNav {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003217}}
#desktopNav {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003219}}
nav {
  padding: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003220}}
nav li {
  font-size: 18px; }

/* CSS Media Queries: small-mid to mid devices, 500-1199px.  Laptop/desktop: 800px+.*/
@media only screen and (min-width: 500px) {
  /* The main border around the entire document */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003227}}
  #bodyWrapper {
    width: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003231}}
  h2 {
    font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003235}}
  h3 {
    font-size: 20px; } }
@media only screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003245}}
  h2 {
    font-size: 26px; } }
@media only screen and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003255}}
  h3 {
    font-size: 24px; }

  /* The main border around the entire document */
  /* *** Beginning of Major divs *** */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003261}}
  #bodyWrapper {
    position: relative;
    width: 1200px;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003268}}
  #mobileNav {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003269}}
  #desktopNav {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003271}}
  #mainTitle a {
    font-size: 48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003273}}
  nav li {
    display: inline-block;
    padding-right: 40px;
    font-size: 20px; } }
@media only screen and (min-width: 1600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/PortlandCoffeeShop\/PortlandCoffeeShop\/assets\/css\/main-styles\.scss}line{font-family:\00003281}}
  #bodyWrapper {
    width: 1540px; } }

/*# sourceMappingURL=main-styles.css.map */
