

$firstStyleColor: #6f4e37;  /* coffee brown */
$secondStyleColor: #4f7942; /* green */
$thirdStyleColor: #ffe9cc; /* white orange ffe9cc */
$thirdStyleColorRGBA: rgba(255, 233, 204, 0.9); /* white orange semi-transparents */

/* Reset the styles */
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. */
.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12{
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px){
    .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
        float: left;
        padding: 5px;
    }

    .col-sma-1 { width: 8.333333%; }
    .col-sma-2 { width: 16.666667%; }
    .col-sma-3 { width: 25%; }
    .col-sma-4 { width: 33.333333%; }
    .col-sma-5 { width: 41.666667%; }
    .col-sma-6 { width: 50%; }
    .col-sma-7 { width: 58.33333%; }
    .col-sma-8 { width: 66.666667%; }
    .col-sma-9 { width: 75%; }
    .col-sma-10 { width: 83.333333%; }
    .col-sma-11 { width: 91.666667%; }
    .col-sma-12 { width: 100%; }
}

@media only screen and (min-width: 1200px){
    .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
        float: left;
        padding: 5px;
    }

    .col-lar-1 { width: 8.333333%; }
    .col-lar-2 { width: 16.666667%; }
    .col-lar-3 { width: 25%; }
    .col-lar-4 { width: 33.333333%; }
    .col-lar-5 { width: 41.666667%; }
    .col-lar-6 { width: 50%; }
    .col-lar-7 { width: 58.33333%; }
    .col-lar-8 { width: 66.666667%; }
    .col-lar-9 { width: 75%; }
    .col-lar-10 { width: 83.333333%; }
    .col-lar-11 { width: 91.666667%; }
    .col-lar-12 { width: 100%; }
}

#content {
    width: 100%;
    padding: 10px 10px 10px 10px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.content-row {
    width: 100%; 
}

.justify-content > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Other General Resuable Classes */
.clear-both {
    clear: both;
}

.sr-only {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;   
}

.width-100-percent {
    width: 100%;
}


/*** Beginning of style sheet. ***/

body {
    background-color: #f6f6f6;
}

p, #ufoList {
    line-height: 22.4px;
}

p {

}

a {
    text-decoration: none;
}

img {
    font-size: 0px;
    max-width: 100%;
    /*Don't allow images to go offscreen horizontally */
}

a:link, a:visited {
    color: #000000;
}

a:hover {
    color: #ffffff;
}

h2 {
    font-size: 18px;
    font-weight: bold; 
}

h3 {
    font-size: 18px;
    padding: 5px 0 10px 0;
    font-weight: bold; 
}

h4 {
    font-weight: bold;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

input, textarea {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

}

input::placeholder, textarea::placeholder {
    color: $secondStyleColor;
    opacity: 1; /* For Firefox */
}

/*For IE 10-11 */
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: $secondStyleColor;
}

/*Edge */
::-ms-input-placeholder {
    color: $secondStyleColor;
}

textarea {
    resize: vertical;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 3px 3px rgba(25, 174, 255, 0.6);
    transition: 0.2s;
}

.center-text {
    text-align: center;
}

#bodyWrapper {
    position: relative;
    width: 100%;
    border: 0;
    min-width: 300px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}



/******************************************************* Beginning of site-specific styles */
#bodyWrapper {
    background: url('../images/coffee-shop-exterior.jpg') 50% 0%/100% auto no-repeat;
}

h2 { color: #f9f9f9; font-weight: bold; }

header { margin-left: 10px; width: 100%; }


.title-container { 
    #mainTitle {
        a {
            position: relative;
            display: inline-block;
            width: 283px;
            font-size: 24px; 
            font-weight: bold;
            color: #ffffff;  
        }
    } 
}

#logo { position: static; width: 50px; padding-left: 20px; }
#mobileNav { display: block; }
#desktopNav { display: none; }
nav { 
    padding: 15px;
    color: $firstStyleColor; 
    a, a:link, a:visited { font-size: 18px; font-weight: bold; color: #f9f9f9; }   
}



#content {
    width: 100%;
    min-height: 200px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgba(255,255,255, 0.9);

    h3 {
        color: $firstStyleColor;
    }
    p {
        font-size: 18px;
        margin-bottom: 18px;
    }
    table {
        width: 100%;
        border-collapse: collapse; 
        tr {
            border-bottom: 2px solid $firstStyleColor;
        }
        th, td {
            padding: 10px 5px;   
        }
        thead th {
            font-weight: bold; 
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}



footer {
    padding: 20px;
    color: #333;
    background-color: $thirdStyleColorRGBA;
    .footer-copyright {
        text-align: center;
    }
}


.input-container {
    padding: 15px; 
    color: $firstStyleColor;
    label { 
        float: left;
        width: 35%;
    }
    input {
        float: left;
        width: 65%;
    }
    textarea {
        width: 100%;
    }
}



/*About page*/
.visitors-bg-image {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.visitors-bg-image.one {
    background: url('../images/two-women-visitors.jpg') 50% 0%/cover no-repeat;    
}

.visitors-bg-image.two { 
    background: url('../images/two-visitors-at-a-table.jpg') 50% 0%/cover no-repeat;
}


/* Menu page */
.menu-table, .events-table {
    th, td { display: block; }
    th { color: $secondStyleColor; }
    tr {
        td:nth-of-type(1) { 
            text-align: center;
            font-size: 18px;
            font-weight: bold; 
            color: $firstStyleColor;
        }
        td:nth-of-type(3) {
            text-align: center;
        }
    } 
}


/*Events page*/
.events-table {
    .event-name { width: 30%; }
    .date-time { width: 30%; }
    .event-info { width: 40%; }
}



/*Contact Us page*/
.contact-us-container {
    color: $firstStyleColor;
}

#contactButton { 
    padding: 10px 15px;
    background-color: $thirdStyleColor; 
    border-radius: 15px;
}


/*Careers page */
.barista {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.barista.one {
    background: url('../images/one-of-our-baristas.jpg') 50% 0%/cover no-repeat;     
}

/* CSS Media Queries: small-mid to mid devices, 500-1199px.  Laptop/desktop: 800px+.*/
@media only screen and (min-width: 500px){
    /* The main border around the entire document */
    #bodyWrapper {
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }
}



@media only screen and (min-width: 700px){

    h2 {
        font-size: 26px;
    } 

}



@media only screen and (min-width: 1200px){

    h3 {
        font-size: 24px;
    }

    /* The main border around the entire document */
    /* *** Beginning of Major divs *** */
    #bodyWrapper {
        position: relative;
        width: 1200px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header { margin-left: 170px; width: 350px; }
    #logo { position: absolute; top: 20px; left: 20px; width: 100%; padding-left: 0; }
    #mobileNav { display: none; }
    #desktopNav { display: block; position: absolute; top: 0; right: 0; }

    .title-container {
        #mainTitle {
            a { font-size: 48px; }
        }
    }


    nav {
        li { 
            display: inline-block; padding-right: 40px;
            a, a:link, a:visited { font-size: 22px; }
        }
    }

    #content {
        padding: 20px;
        margin-top: 200px;
        h3 {
            padding-left: 20px;
        }
        table {
            img {
                width: auto;
                height: 100px;
            }
        }
    }


    .input-container {
        label { 
            width: 25%;
        }
        input, textarea {
            float: left;
            width: 75%;
        }
    }




    .menu-table, .events-table {
        th, td { display: table-cell; }
        tr {
            td:nth-of-type(1), td:nth-of-type(3)  { 
                text-align: left;
            }
        }
    }

    .menu-table {

        .item-name {
            width: 30%;
        }
        .photos {
            width: 20%;
        }
        .item-cost {
            width: 20%;
        }
        .description {
            width: 30%;
        }
    }

}



@media only screen and (min-width: 1600px){
    #bodyWrapper {
        width: 1540px;
    }

}